@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ===== Variables ===== */
body {
  /* Colors */
  --bw-100: #181743;
  --bw-200: #3f474b;
  --bw-300: #7f8a8f;
  --bw-400: #bec7cc;
  --bw-500: hsl(198, 24%, 89%);
  --bw-600: #f3f8fb;
  --bw-700: #FFFFFF;
  --text-color:#1A1A1A;

  --burple-100: #271e64;
  --burple-200: #5034ff;
  --burple-300: #bebdff;
  --burple-400: #6d6af4;
  --burple-500: #dfe8ff;

  --error-red: #EE0004;
  
  --wd-white: #FFFFFF;
  --accent: #8428F8;
  --blue1: #141C3A;
  --blue2: #535E88;
  --blue3: #DCDCDE;
  --blue4: #F9FBFD;
  --blue5: #1D274F;

  --inactive: #949494;
  --hover: #767676;
  --focus: #543FD3;

  --hline: #E5EBF2;
  --progbars:#DFE5EB;

  --bg1: var(--bw-700);
  --bg2: var(--blue4);

  --color1: var(--blue1);
  --color2: var(--blue2);
}

body.dark{
  --bg1: var(--blue1);
  --bg2: var(--blue5);
  --color1:var(--blue4);
  --color2:var(--blue4);
  --hline: var(--blue2);
  --progbars: var(--blue2);
}
/* ===== Button ===== */

button,
.button {
  border-radius: 40px;
  transition: all ease-in-out 125ms;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: auto;
}

button.large,
.button.large {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

button.large:not(.text),
.button.large:not(.text) {
  padding: 24px 32px;
}

button.medium,
.button.medium {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

button.medium:not(.text),
.button.medium:not(.text) {
  padding: 20px 24px;
}

button.small,
.button.small {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

button.small:not(.text),
.button.small:not(.text) {
  padding: 12px 20px;
}

button.primary,
.button.primary {
  background: var(--burple-200);
  color: var(--bw-700);
  border: none;
}

button.primary:hover,
.button.primary:hover {
  background: var(--burple-100);
}

button.secondary,
.button.secondary {
  background: var(--bw-700);
  border: 3px solid var(--bw-100);
  color: var(--bw-100);
}

button.secondary:hover,
.button.secondary:hover {
  background: var(--bw-100);
  color: var(--bw-700);
}

button.tertiary,
.button.tertiary {
  background: var(--burple-500);
  border: 3px solid var(--bw-100);
  color: var(--burple-100);
}

button.tertiary:hover,
.button.tertiary:hover {
  background: var(--bw-100);
  color: var(--bw-700);
}

button.text,
.button.text {
  background: none;
  color: var(--burple-200);
  border: none;
}

button.text:hover,
.button.text:hover {
  color: var(--burple-100);
}

button.round{
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border:none;
  background: var(--burple-500);
  color: var(--burple-100);
  font-size: 48px;
}

button.round:hover{
  background: var(--burple-400);
}

button.round:disabled{
  background: var(--bw-500);
  color: var(--bw-300);
}
/* ============================== */

/* ========= Input General ====== */

label{
  color: var(--color2);
}

div.input{
  transition: all ease-in-out 125ms;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

div.input label{
  position: relative;
}

div.input:focus-within label{
  color: var(--focus);
} 

div.input .noHint:invalid{
  border: 2px solid var(--error-red);
}

div.input .noHint:invalid +label{
  color: var(--error-red);
}
/* ============================== */

/* ========= Text Inputs ======== */

div.input input +label{
  bottom: 92px;
}

div.input input{
  border: 1px solid var(--inactive);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px 12px;
  height: 59px;
}

div.input input:disabled{
  
}

div.input input:hover{
  border: 2px solid var(--hover);
}

div.input input:focus{
  color:var(--focus);
  border: 2px solid var(--focus);
  outline: none;
}

div.input input:invalid{
  color:var(--error-red);
}

input.small{
  width: 261px;
}

input.medium{
  width: 825px;
}

input.large{
  width: 1134px;
}

input.tall{
  height: 230px !important;
}

input.tall +label{
  bottom: 263px !important;
}
/* ============================== */

/* ======== Dropdown ============ */

div.input select +label{
  bottom: 86px;
}

select{
  border: 1px solid var(--inactive);
  box-sizing: border-box;
  border-radius: 4px;
  width: 261px;
  height: 59px;
  padding: 20px 12px;
  background: #FFFFFF;
}

select:hover{
  border: 2px solid var(--hover);
}

select:focus{
  border: 2px solid var(--focus);
}
/* ============================== */

/* ======== "properties" ======== */

.centered{
  text-align: center;
}

.no-blank{
  padding-top: 0;
  margin-top: 0;
}

.text-left{
  padding-left: start;
}

.text-right{
  text-align: end;
}

.margin{
  margin-top: 10px;
}

div.flex-centered{
  display: flex;
  justify-content: center;
}

div.flex-column{
  display: flex;
  flex-direction: column;
}

div.grid{
  display: grid;
}


/* ============================== */

/* ========== Shapes ============ */

.small-line{
  width: 1px;
  height: 27px;
  background: var(--blue3);
  align-self: center;
  justify-self: center;
}

.long-line{
  width: 1px;
  height: 224px;
  background: var(--blue3);
  align-self: center;
  justify-self: center;
}

.h-line{
  width: 414px;
  height: 1px;
  background: var(--blue3);
  align-self: center;
  justify-self: center;
}

.dotted-vertical{
  margin-top: 30px;
}

.dotted-vertical::after{
  width: 9px;
  height: 9px;
  content: "";
  display: block;
  border-radius: 50%;
  background: var(--accent);
  position:relative;
  z-index: 2;
  left: -4px;
  top: -20px
}

.dotted-horizontal{
  margin-left: 40px;
  margin-right: 31px;
}

.dotted-horizontal::before{
  width: 9px;
  height: 9px;
  content: "";
  display: block;
  border-radius: 50%;
  background: var(--accent);
  position:relative;
  z-index: 2;
  top: -4.5px;
  right: 40px;
}

.horizontal-sep{
  width: 80%;
  height: 1px;
  background: var(--hline);
  margin-left: 194px;
}
/* ============================== */

/* ======== Progress Bar ======== */

progress{
  border-radius: 100px;
  background: var(--progbars);
  height: 6px;
  border: none;
  width: 467px;
}

/* utilisation de moz pour Firefox et de webkit pour le reste */

progress::-webkit-progress-bar {
  background-color: var(--progbars);
  border-radius: 100px;
}

progress::-moz-progress-bar
{
  background: var(--accent);
  border-radius: 100px;
}

::-webkit-progress-value {
  border-radius: 100px;
  background: var(--accent);
}
/* ============================== */

html{
  scroll-behavior: smooth;
  font-family: Roboto;
}

header{
  display: flex;
  justify-content: space-evenly;
  background: var(--bg1);
}

body{
  margin:0;
  padding: 0;
  background: var(--bg1);
}

header .left h1{
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
  color: var(--color1);
}

header .right{
  display: flex;
  align-items: center;
}

header .right ul{
  display: flex;
  gap: 37.8px;
  list-style: none;
}

header a{
  text-decoration: none;
  color: var(--color1);
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
}

header a#about-btn{
  color: var(--accent)!important;
}

header a:visited{
  color: var(--color1); 
}

p{
  margin:0px;
  
}

p.title{
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: var(--color1);
}

p.large{
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
  color: var(--color1)
}

p.medium{
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color:var(--color1)
}

p.small{
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: var(--color2);
}

p.paragraph{
  width: 609px;
}

p.small-paragraph{
  width: 380px;
}

p.small-paragraph2{
  width: 373px;
}

p.label{
  color: inherit;
}

p.progress{
  margin-top: 30px;
  margin-left: 18px;
}

section#about-me{
  margin-top: 112px;
  background: var(--bg1);
}

section#about-me img{
  margin-top: 78px;
}

section#about-me div.contact-grid{
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  width: 350px;
  column-gap: 19px;
}

section#about-me div.intro{
  margin-top: 132px;
  padding-top: 154px;
  padding-bottom: 144px;
  background: var(--bg2);
}

section#experience{
  margin-top: 121px;
}

section#experience div.history{
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  column-gap: 87px;
  grid-row: 255px;
}

section#skills {
  margin-top: 47px;
}

section#skills div.skill-bars{
  margin-top: 130px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 51px;
  row-gap: 29px;
}

section#education{
  margin-top: 120px;
  padding-top: 48px;
  padding-bottom: 120px;
  background: var(--bg2);
}

section#education .edu-grid{
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto 1px auto;
  row-gap: 35.5px;
}

section#projects{
  margin-top: 47px;
}

section#projects div.cards{
  margin-top: 95px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 45px;
  row-gap: 45px;
}

img.card{
  width: 356px;
  height: 241px;
  border-radius: 11px;
}

section#contact{
  margin-top: 47px;
}

section#contact form{
  margin-top: 165px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

section#contact div.form-line{
  display: flex;
  gap: 48px;
}

footer{
  margin-top: 167px;
  padding-top: 211px;
  padding-bottom: 211px;
  background: var(--bg2);
}

footer a{
  text-decoration-line: underline;
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
  color: var(--accent)
}
