@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ===== Variables ===== */
body {
  /* Colors */
  --bw-100: #181743;
  --bw-200: #3f474b;
  --bw-300: #7f8a8f;
  --bw-400: #bec7cc;
  --bw-500: hsl(198, 24%, 89%);
  --bw-600: #f3f8fb;
  --bw-700: #FFFFFF;
  --text-color:#1A1A1A;

  --burple-100: #271e64;
  --burple-200: #5034ff;
  --burple-300: #bebdff;
  --burple-400: #6d6af4;
  --burple-500: #dfe8ff;

  --error-red: #EE0004;
  
  --wd-white: #FFFFFF;
  --accent: #8428F8;
  --blue1: #141C3A;
  --blue2: #535E88;
}

/* ===== Button ===== */

button,
.button {
  border-radius: 40px;
  transition: all ease-in-out 125ms;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button.large,
.button.large {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

button.large:not(.text),
.button.large:not(.text) {
  padding: 24px 32px;
}

button.medium,
.button.medium {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

button.medium:not(.text),
.button.medium:not(.text) {
  padding: 20px 24px;
}

button.small,
.button.small {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

button.small:not(.text),
.button.small:not(.text) {
  padding: 12px 20px;
}

button.primary,
.button.primary {
  background: var(--burple-200);
  color: var(--bw-700);
  border: none;
}

button.primary:hover,
.button.primary:hover {
  background: var(--burple-100);
}

button.secondary,
.button.secondary {
  background: var(--bw-700);
  border: 3px solid var(--bw-100);
  color: var(--bw-100);
}

button.secondary:hover,
.button.secondary:hover {
  background: var(--bw-100);
  color: var(--bw-700);
}

button.tertiary,
.button.tertiary {
  background: var(--burple-500);
  border: 3px solid var(--bw-100);
  color: var(--burple-100);
}

button.tertiary:hover,
.button.tertiary:hover {
  background: var(--bw-100);
  color: var(--bw-700);
}

button.text,
.button.text {
  background: none;
  color: var(--burple-200);
  border: none;
}

button.text:hover,
.button.text:hover {
  color: var(--burple-100);
}

button.round{
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border:none;
  background: var(--burple-500);
  color: var(--burple-100);
  font-size: 48px;
}

button.round:hover{
  background: var(--burple-400);
}

button.round:disabled{
  background: var(--bw-500);
  color: var(--bw-300);
}
/* ============================== */

/* ========= Text Inputs ======== */

div.textInput{
  transition: 125ms;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

div.textInput label{
  transition: 125ms;
  color: var(--text-color);
  position: relative;
  bottom: 85px;
}

div.textInput input{
  transition: 125ms;
  border: 1px solid #949494;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px 12px;
  width: 311px;
  height: 59px;
}

div.textInput input:hover{
  border: 2px solid #767676;
}

div.textInput:focus-within input{
  color:#543FD3;
  border: 2px solid #543FD3;
  outline: none;
}

div.textInput:focus-within label{
  color: #543FD3;
} 

div.textInput input:invalid{
  border: 2px solid var(--error-red);
  color:var(--error-red);
}

div.textInput input:invalid +label{
  color: var(--error-red);
}

div.textInput input:disabled{
  
}
/* ============================== */

/* ======== Dropdown ============ */

div.dropdown{
  display: block;
}

button.dropbtn{
  
}
/* ============================== */

/* ======== "properties" ======== */

.centered{
  text-align: center;
}

.no-blank{
  padding-top: 0;
  margin-top: 0;
}

.text-left{
  padding-left: start;
}

.text-right{
  text-align: end;
}

.margin{
  margin-top: 10px;
}

div.flex-centered{
  display: flex;
  justify-content: center;
}

div.grid{
  display: grid;
}



/* ============================== */

html{
  scroll-behavior: smooth;
  font-family: Roboto;
}

header{
  display: flex;
  justify-content: space-evenly;
}

body{
  margin:0;
  padding: 0;
}

header .left h1{
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
  color: var(--blue1);
}

header .right{
  display: flex;
  align-items: center;
}

header .right ul{
  display: flex;
  gap: 37.8px;
  list-style: none;
}

header a{
  text-decoration: none;
  color: var(--blue1);
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
}

header a#about-btn{
  color: var(--accent);
}

header a:visited{
  color: inherit; 
}

p{
  margin:0px;
  
}

p.title{
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: var(--blue1);
}

p.large{
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
}

p.medium{
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color:var(--blue1)
}

p.small{
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: var(--blue2);
}

p.paragraph{
  width: 609px;
}

div.flex-column{
  display: inline-block
}

section#about-me{
  margin-top: 150px;
}

section#about-me img{
  margin-top: 78px;
}

section#about-me div.contact-grid{
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  width: 350px;
  column-gap: 19px;
}

div.line{
  width: 0;
  height: 27px;
  border-left: solid 0.25px #DCDCDE;
  align-self: center;
  justify-self: center;
}

section#about-me div.intro{
  margin-top: 286px;
}

section#experience{
  margin-top: 265px;
}

section#experience div.history{
  margin-top: 165px;
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
}
